.accordion-card {
  margin-bottom: 1.5rem;
}
  
.accordion-top {
  background-color: var(--secondary-blue);;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
}

.accordion-top:hover {
  background-color: rgba(15, 112, 189, 0.8);
}
  
.accordion-top h3 {
  color: #FFF;
}
  
.accordion-bottom {
  background-color: #EBEBEB;
  padding: 2rem 1.5rem;
  border-end-start-radius: 5px;
  border-end-end-radius: 5px;
}
  
.accordion-card button {
  background: none;
  appearance: none;
  border: none;
  font-size: 1.6rem;
  color: var(--yellow);
  margin-left: 1rem;
}

/*** Media Queries ***/
@media (max-width: 650px) {
  
  .accordion-card button {
    font-size: 1.3rem;
  }
}
