.form {
  background-color: #F3F3F3;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--primary-blue);
  border-radius: 15px;
}

.subscribe-form {
  padding-bottom: 1.2rem;
}
  
.form-group {
  margin: 0.2rem 0;
  position: relative;
}

label {
  position: absolute;
  top: -2%;
  font-size: 1px;
  color: #F3F3F3;
}
  
.form-group,
input,
select,
textarea,
.submit {
  width: 100%;
  padding: 0.8rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
}
  
input,
select,
textarea {
  border: 2px solid var(--primary-blue);
}
  
.submit {
  cursor: pointer;
  background: var(--primary-blue);
  color: #FFF;
}

.submit:hover {
  background-color: rgba(55, 175, 235, 0.8);
}
  
.status {
  text-align: center;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1.5rem 1rem;
}
  
.error {
  background-color: rgba(255, 0, 0, 0.2);
  color: red;
  border: 2px solid red;
}
  
.success {
  background-color: rgba(60, 179, 113, 0.2);
  color: green;
  border: 2px solid green;
}

.opt-out {
  margin-top: 1.2rem !important;
  font-size: 1rem !important;
}

.opt-out a {
  color: inherit;
}

.opt-out a:hover {
  color: var(--primary-blue);
}
  

@media (max-width: 460px) {

  .form {
    padding: 2rem 0.5rem;
  }
}